@{
    Layout = null;
}


@{
    ViewBag.Title = "Index";  
}

<h2>Index</h2>

My thing is @ViewBag.MyThing <br />
My favorite number is @ViewBag.MyFavoriteNumber <br />
A nice double is @(((double)ViewBag.ADouble).ToString("n2")) <br />
A nice double is @ViewBag.ADouble




